<div class="container">
  <button (click)="onClickGetAll()">Todos</button>
  @for (categoria of arrCategorias; track $index) {
    <button (click)="onClick(categoria)">{{ categoria }}</button>
  }
  <div class="row">
    @for (post of arrPost; track post.id) {
      <article class="col-12 col-md-6 col-lg-3">
        <h3>{{ post.titulo }}</h3>
        <p>{{ post.autor }}</p>
        <img (click)="onClickPost('posts/' + post.id)" [src]="post.imagen" />
        <p>{{ post.texto | cutText }}</p>
        <p>{{ post.fecha }}</p>
        <p>{{ post.categoria }}</p>
        <button (click)="onClickPost('posts/' + post.id)">Leer mas</button>
      </article>
    }
  </div>
</div>
