<div class="container">
  @for (categoria of arrCategorias; track $index) {
    <button (click)="onClick(categoria)">{{ categoria }}</button>
  }
  <div class="row">
    @for (post of arrPost; track $index) {
      <article class="col-12 col-md-6 col-lg-3">
        <h3>{{ post.titulo }}</h3>
        <p>{{ post.autor }}</p>
        <img [src]="post.imagen" />
        <p>{{ post.texto }}</p>
        <p>{{ post.fecha }}</p>
        <p>{{ post.categoria }}</p>
        <button>Leer mas</button>
      </article>
    }
  </div>
</div>
