<div class="container">
  <div class="botonera">
    <button class="btn" (click)="onClickGetAll()">Todos</button>
    @if (categoriaJson !== "") {
      <button class="btn" (click)="onClick(categoriaJson)">
        {{ categoriaJson }}
      </button>
    }
    @for (categoria of arrCategorias; track $index) {
      <button class="btn" (click)="onClick(categoria)">{{ categoria }}</button>
    }
  </div>
  <div class="posts">
    @for (post of arrPost; track post.id) {
      <article>
        <h3>{{ post.titulo }}</h3>
        <h6>{{ post.autor }}</h6>
        <img (click)="onClickPost('posts/' + post.id)" [src]="post.imagen" />
        <p>{{ post.texto | cutText }}</p>
        <p>{{ post.fecha }}</p>
        <p>{{ post.categoria }}</p>
        <button class="btn" (click)="onClickPost('posts/' + post.id)">
          Leer mas
        </button>
      </article>
    }
  </div>
</div>
